#name {
  background: linear-gradient(271deg, rgb(104, 104, 255), rgb(6, 197, 255), rgb(255, 255, 78), rgb(255, 66, 66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
