@tailwind base;
@tailwind components;
@tailwind utilities;
#hero-img {
  width: 26vw;
  height: 70vh;
}

@media (max-width: 600px) {
  .changes {
    flex-direction: column;
    align-items: center;
  }
  .headerMedia {
    flex-direction: column;
  }

  .headerMedia .Link {
    padding: 10px;
  }
  .hero-img {
    min-width: 250px;
  }
}
